<h1> homepage</h1>

<div class="container">

    <div class="logo">
        <img id="logoID" src="./view/LogoFlare.png" alt="">
    </div>

    <div class="search">
    
        <form action="/results" method="get">
            <input id="searchBar" name="search" type="text" placeholder="Search or Enter URL"/>
            <i class="material-icons">search</i>
            <button id="searchButton" type="submit">Search</button>
            <button id="tryButton">Try Me</button>
        </form> 
    </div>
</div>