<h1> Result's Page</h1>
<% results["items"].forEach(searchData => { %>
    <li> <%= searchData['title'] %> </li>
    <li> <%= searchData['link'] %> </li>
    <li> <%= searchData['snippet'] %> </li>
<% })%>