/* Colour Palette
Grey #aaaaaa
Dark Matt Pink #e37398
Muted Pink #f0c1cc
Light Pink #fee2e9
Vibrant Pink #fe7ea8
*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    box-sizing: border-box;
}

h4 {
    color: #fe7ea8;
}

#searchButton,
#tryButton {
    color: #e37398;
    border-radius: 10px;
    margin: 5px;
    background-color: #f0c1ca;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;


}
footer {
    background-color: #fe7ea8;
    color: white;
    height: 10vh;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.search {
    display: flex;
    width: 100%;
    max-width: 500px;
}

.search i {
    position: absolute;
    margin: 27px 20px;
    opacity: 0.5;
}

input[type="text"] {
    width: 100%;
    padding: 20px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 30px;
    border-color: lightgray;
    padding-left: 50px;
    font-size: 13px;
  }

.buttons {
    display: flex;
    justify-content: space-between;
    
}
